.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.guide-container {
  background-color: #a8dadc;
  width: 70%;
  max-width: 600px;
  display: flex;
  padding: 2em;
  color: #1d3557;
  border-radius: 2%;
  line-height: 1.5em;
  align-items: center;
  box-shadow: 0px 6px 0px #1d3557;
  border-radius: 10px;
}

.guide-container img {
  width: 50%;
  border-radius: 10%;
}

.right-side-guide {
  margin: 0 1em;
}
.right-side-guide h2 {
  font-weight: 700;
}
